.git
.env
.env.local
.DS_Store
airflow_settings.yaml
__pycache__/
*.pyc
*.pyo
*.pyd
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.airflowignore
logs/
*.pid
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
tests
include
plugins
.docker/
packages.txt